:root {
  --bg-color: white;
  --text-color: #222;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
@media(prefers-color-scheme:dark) {
  :root {
    --bg-color: #222;
    --text-color: white;
  }
}
body {
  margin:0;
}
